.MatchDetailCard{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    margin-bottom: 20px;

    .match-result, .match-date, .match-venue{
        margin-top: 7px;
    }
    
    .additional-detail{
        text-align: right;
        & > p{
            margin-bottom: 20px;
        }
    }
}
